*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
}

section{
    height:100vh;
}

.red-bg{
    background-color: red;
}

.green-bg{
    background-color: forestgreen;
}

.yellow-bg{
    background-color: gold;
}

